<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupoz3.appmissitios">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!--si aparece error en la linea anterior linea 7 agregue la linea 8 -->

    <application
        android:name=".Aplicacion"
        android:allowBackup="true"
        android:icon="@mipmap/icono_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMisSitios">
        <activity android:name=".presentacion.MainActivity"
           android:exported="true"
            android:theme="@style/Theme.AppMisSitios.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentacion.AcercaDeActivity"
            android:label="@string/accion_acerca_de"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"
            >
        </activity>

        <activity android:name=".presentacion.VistaLugarActivity"
            android:label="Vista Lugar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".presentacion.EdicionLugarActivity"
            android:label="Edición lugar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".presentacion.PreferenciasActivity">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="misiontic.appmissitios.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>